:root {
    --page-background: #e8e4d1;
    --initiative-box-background: #ccb8b6;
    --initiative-banner: darkred;
    --conditions-box-background: #b6c6cc;
    --character-modal-background: #e3bfbf;
    --condition-modal-background: #bfd1e3;
    --condition-list-banner-background: #0045d9;
    --condition-modal-section-background: #0246d9;
}