:root {
    --page-background: #e8e4d1;
    --initiative-box-background: #e2a29b;
    --initiative-banner: rgb(163, 0, 0);
    --conditions-box-background: #bcd3db;
    --conditions-expiration-background: #8abcce;
    --character-modal-background: #e3bfbf;
    --condition-modal-background: #bfd1e3;
    --condition-list-banner-background: #0045d9;
    --condition-modal-section-background: #77b3bb;
    --bad-condition-background: #ff0000;
    --good-condition-background: rgb(41, 194, 41);
    --neutral-condition-background: #8d888f;
    --view-character-background: #9c9c9c;
}