@import './1colors.css';

  .delete-confirm-modal {
  z-index: 2000;
}

.settings-caution-text {
  color: red;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
}

.new-combat-button-and-description {
  margin-top: 12px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-reset-button-and-description {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-action-button {
  background-color: var(--initiative-banner);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 12px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 20px;
  transition: background 0.2s;
  height: 50px;
  width: 100%;
}

.settings-action-button:hover {
  background-color: black;
}

.settings-description-text {
  font-size: 1.05rem;
  line-height: 1.4;
  color: black;
  margin-top: 10px;
  width: 100%;
}

